*{
    margin: 0;
    padding: 0;
}
#main{
    background-image: url(Images/1_lB-z88bwCO36cdXRjtFS9w\ 1.png);
    background-position: center;
    background-size: cover;
    height: 591px;
    width: 100vw;
    
}
.navigation{
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.navigation li{
    list-style: none;
    margin-right: 39px;
    margin-top: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
}
.btn{
    background-color: #F35353;
    margin-right: 43px;
    width: 146px;
    height: 46px;
    border-radius: 14px;
    align-items: center;
}
.main-content{
    display: inline-flex;
    align-items: center;
    /* border: 2px solid purple; */
}
.credit-card{
    margin-top: 160px;
    margin-left: 189px;
    
}
/* .credit-card img{
    background-color: #fff;
} */
.main-text{
    /* border: 2px solid red; */
    /* margin: 226px 620px 306px 167px; */
    margin-top: 160px;
    margin-left: 167px;
    color: #fff;
}
.main-text h1{
    font-weight: 600;
    font-size: 50px;
    line-height: 59px;
}
.main-text p{
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
}
.btn2{
    background: linear-gradient(97.58deg, #FB4949 37.68%, #F97878 101.79%);
    border-radius: 14px;
    width: 193px;
    height: 51px;
    margin-left: 647px;
    margin-top: 103px;
}
.btn2 h1{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    padding: 14px 15px 14px 14px;
    text-align: center;
}
/**second page****************/
.second-page{
    background-color: #212121;
    width: 100vw;
    height: 554px;
}
.list{
    /* margin-right: 394px; */
    margin-top: 68px;
}
.list li{
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    list-style: none;
    color: #FFFFFF;
}
.list img{
    margin-right: 15px;
}
.mobile{
    margin-left: 120px;
}
.test{
    display: flex;
    justify-content: space-between;
}
.btn3{
    background: linear-gradient(97.58deg, #FB4949 37.68%, #F97878 101.79%);
    border-radius: 14px;
    width: 157px;
    height: 51px;
    margin-top: 244px;
    margin-right: 102px;
  
}
.btn3 h1{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    padding: 14px 15px 14px 14px;
    text-align: center;
}
/************third page*/
#third-page{
    width: 100vw;
    height: 582px;
    background-color: #FBFBFB;
    display: flex;
    justify-content: space-around;
}
.card{
    width: 587px;
    height: 247px;
    box-shadow: 4px 4px 20px rgba(145, 145, 145, 0.25);
    border-radius: 16px;
    margin-left: 70px;
    margin-top: 210px;
    
}
.card h1{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    padding: 15px 48px 0 71px;
}
.card h6{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-left: 71px;
    padding-top: 14px; 
    color: #6B6B6B;
}
.side-arrow{
    color: white;
    background-color: black;
    border-radius: 50%;
    height: 54px;
    width: 54px;
    text-align: center;
    margin-top: 315px;
    margin-left: 25px;
}
/**********fourth page*/
#fourth-page{
    padding-top: 97px; 
    width: 100vw;
    height: 554px;
    background: #212121;
    display: flex;
    justify-content: space-around;
}
/*fifth page**/
#fifth-page{
    width: 100vw;
    height: 600px;
    margin-left: 241px;
    margin-top: 162px;
    display: flex;
    align-items: center;
}
.fifth-list{
    /* margin-right: 394px; */
    margin-top: 39px;
}
.fifth-list li{
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    list-style: none;
    color:  #4D4D4D;
     
}
.fifth-list img{
    margin-right: 15px;
}
.left-text h1{
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    line-height: 47px;
    color: #4D4D4D;
    margin-bottom: 15px;
}
.right-image{
    margin-left: 160px;
}
/********sixth page**/
#sixth-page{
    width: 100vw;
    height: 80vh;
}
/********************/
#seventh{
    display: flex;
    justify-content: space-around;
}
.seventh-rigth{
    margin-top: 60px;
}
.seventh-rigth h1{
    font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
color: #000000;
}
.seventh-rigth h2{
    font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 40px;

color: #000000;
}
/************eigth section */
#eigth{
    border: 1px solid black;
    width: 100%;
    height: 660px;
}
/***********nineth*/
#ninth{
 width: 100vw;
 height: 554px;
 background-color: #212121;;
}
#ninth h1{
    padding-top: 52px;
    text-align: center;
    font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 40px;
/* identical to box height */


color: #FFFFFF;
}
.n-card{
    display: flex;
    justify-content: space-evenly;
    margin-top: 93px;
}
.card-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-row h3{
    margin-top: 22px;
    font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #FB4949;
text-align: center;
}
.card-row h5{
    margin-top: 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #F97878;
    text-align: center;
}
/****tenth-section ************/
#tenth{
    width: 100vw;
    height: 690px;
}
/*******eleven*/
#eleventh{
    width: 100vw;
    height: 290px;
    background: #212121;
} 
.e-card{
    padding-top: 75px;
    display:flex ;
    justify-content: space-evenly;
    align-items: baseline;
     
}
.e-card-row{
    font-style: normal;
font-weight: normal;
font-size: 70px;
line-height: 82px;

color: #FFFFFF;
}
.e-card-row h2{
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;

color: #FFFFFF;
}
/***********twelve*/
#twelve{
    width: 100vw;
    height: 290px;
    background: #FC7A7A;
}
.tw-card{
    display: flex;
    justify-content: space-between;
}
.tw-row h1{
    font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;

color: #000000;
}

#thirteen{
    width: 100vw;
    height: 531px;
    border: 2px solid red;
}
#forteen{
    width: 100vw;
    height: 563px;
    background: #212121;
}